# Working with Data - Pandas

In [4]:
import json
import openpyxl
import pandas
import numpy

In [1]:
RAW_DATA = pandas.read_excel("sample_data.xlsb", sheet_name='Sheet1', header=0, engine='pyxlsb')

NameError: name 'pandas' is not defined

In [12]:
RAW_DATA.head(10)

,Customer ID,Customer Name,City,Address,Buying Program,Repeat Customer,Internal Customer Code A,Internal Customer Code B,Back Office Flag,Contract Number,...,Product Type,Product,Product Description,Number of Letters in Product Name,Random Colour,Internal Product Flag,Before Before Date,Quantity,Item Cost,Total Cost
0,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Non-perishable,Sardines,Chair young product would center indeed mouth ...,8,WhiteSmoke,XXWX-2204,2023-07-25,1,5.29,$5.29
1,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Non-perishable,Cooking Oil,Heavy walk possible necessary truth financial ...,11,NavajoWhite,XZXX-3548,2023-12-19,10,5.19,$51.90
2,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Non-perishable,Fresh Fruit,Everyone lead best manager many right someone ...,11,Snow,XXWW-9481,2023-09-12,5,6.13,$30.65
3,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Perishable,Anchovies,Factor report must authority art own still suc...,9,GhostWhite,XWWW-1016,2024-04-14,10,3.15,$31.50
4,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Perishable,Donut,Role lay in take sure decade another to centur...,5,LimeGreen,YYWW-6657,2024-06-13,4,5.10,$20.40
5,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Perishable,Soda,Very industry care few daughter individual fir...,4,PaleGoldenRod,WYZW-6285,2024-06-23,4,6.57,$26.28
6,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Non-perishable,Pizza,As result after less next today.,5,Wheat,ZYYY-7928,2024-01-19,3,11.00,$33.00
7,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Non-perishable,Sauce,It relationship you pass minute and defense ch...,5,White,WXZW-6702,2024-03-15,6,5.34,$32.04
8,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Perishable,Soup,Read head star offer career defense wish issue...,4,PaleVioletRed,WWYW-7639,2024-03-26,3,8.20,$24.60
9,172261947,Elizabeth Allen,Reginabury,899 Carlos Well Suite 182,A2D,NaN,ADDB-58787812,GHJF-12978100,Y,NaN,...,Non-perishable,Soup,Air energy short home often black new each age...,4,GoldenRod,YZYZ-6880,2023-12-23,7,8.56,$59.92

In [15]:
RAW_DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247315 entries, 0 to 247314
Data columns (total 30 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Customer ID                        247315 non-null  int64
 1   Customer Name                      247315 non-null  object
 2   City                               247315 non-null  object
 3   Address                            247315 non-null  object
 4   Buying Program                     247315 non-null  object
 5   Repeat Customer                    129902 non-null  object
 6   Internal Customer Code A           247315 non-null  object
 7   Internal Customer Code B           247315 non-null  object
 8   Back Office Flag                   247315 non-null  object
 9   Contract Number                    126610 non-null  float64
 10  Contract Type                      247315 non-null  object
 11  Order Year                         247315 non-null  int64
 12  Is it a Public Holiday?            247315 non-null  object
 13  Order Date                         247315 non-null  object
 14  Order ID                           247315 non-null  int64
 15  Store ID                           247315 non-null  int64
 16  Store Size                         247315 non-null  object
 17  Are Balloons In Stock?             247315 non-null  object
 18  Random Code                        247315 non-null  object
 19  Product BU                         247315 non-null  object
 20  Product Type                       247315 non-null  object
 21  Product                            247315 non-null  object
 22  Product Description                247315 non-null  object
 23  Number of Letters in Product Name  247315 non-null  int64
 24  Random Colour                      247315 non-null  object
 25  Internal Product Flag              247315 non-null  object
 26  Before Before Date                 247315 non-null  object
 27  Quantity                           247315 non-null  int64
 28  Item Cost                          247315 non-null  float64
 29  Total Cost                         247315 non-null  object
dtypes: float64(2), int64(6), object(22)
memory usage: 56.6+ MB

In [19]:
filtered_data = RAW_DATA[['Customer ID','Customer Name','City','Order Year','Order Date','Order ID','Store ID','Product BU','Product Type','Product','Quantity','Item Cost','Total Cost']]

CITIES_TO_KEEP = ['Vaughnmouth','North Margaretbury','Melanieland','Andreamouth','Aprilfort','South Heatherborough','West Crystal','Lake Andreabury','Buchanantown','Stephenmouth','Johnberg','East Maryberg','East Kellyview','Mcdanielstad','Francisburgh','Bensonborough','South Jason','North Jeffreyborough','Gonzalezmouth','Port Joshua','New Anthony','Lake Matthew','Carrilloborough','Cunninghambury','Williamshire','Jennifershire','Caseyland','Emilyland','Port Amberberg','Kathleenside','Lewisside','South Michaelland','North Sarahborough','Mariaburgh','West Amanda','Kathleenbury','Michaelshire','Archerview','Randolphtown','Grantfort','Port Lisa','South Scottville','East Edward','West Judithland','Port Gabriel','Grossview','Port Michaelside','Wardbury','North Brian','North Amy','Port Joseph','South Debrafort','Port Ericafort','Martinton','West Nicole','Lesliefurt','South Michaelville','East Ericport','Deanmouth','Port Jade','Lake Andrewmouth','Stephanieland','Zacharyshire','Sheilaville','Robinsonbury','Lake Chad','Lake Jessica','Lindsayfurt','Port Samantha','Port Michele','West Paul','Kimberlychester','Elizabethburgh','Jasonville','Webbhaven','Kristenchester','Taylorfort','Johnborough','West Sean','East Brian','South Connortown','Millermouth','Morenoside','Maryhaven','West Wesley','Martinfurt','Alvaradomouth','East Annton','Shepardhaven','Douglasmouth','Phillipland','Juliaside','East Holly','Carterport','New Lindsey','North Jacqueline','North Tyler','East Roger','Marshallfort','Pattersonmouth']

filtered_data = filtered_data.loc[filtered_data['City'].isin(CITIES_TO_KEEP)]

In [16]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24788 entries, 12218 to 37005
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    24788 non-null  int64
 1   Customer Name  24788 non-null  object
 2   City           24788 non-null  object
 3   Address        24788 non-null  object
 4   Order Year     24788 non-null  int64
 5   Order Date     24788 non-null  object
 6   Order ID       24788 non-null  int64
 7   Store ID       24788 non-null  int64
 8   Product BU     24788 non-null  object
 9   Product Type   24788 non-null  object
 10  Product        24788 non-null  object
 11  Quantity       24788 non-null  int64
 12  Item Cost      24788 non-null  float64
 13  Total Cost     24788 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 2.8+ MB

In [14]:
filtered_data.head(10)

,Customer ID,Customer Name,City,Address,Order Year,Order Date,Order ID,Store ID,Product BU,Product Type,Product,Quantity,Item Cost,Total Cost
12218,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,CDE,Non-perishable,Muffin,5,2.02,$10.10
12219,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,CDE,Perishable,Sliced Bread,10,7.77,$77.70
12220,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,BCD,Non-perishable,Sponge,10,11.42,$114.20
12221,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,BCD,Non-perishable,Toothbrush,3,8.34,$25.02
12222,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,ABC,Perishable,Tuna,5,5.21,$26.05
12223,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,DEF,Perishable,Soup,4,3.08,$12.32
12224,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,CDE,Non-perishable,Popcorn,7,10.98,$76.86
12225,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,CDE,Perishable,Sour Cream,8,7.08,$56.64
12226,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,CDE,Perishable,Peanut Butter,8,7.21,$57.68
12227,424856186,Harry Maldonado,Vaughnmouth,62810 Rose Center Apt. 934,2020,2020-05-14,3175501,60995,DEF,Non-perishable,Flavored Drink,6,2.72,$16.32

In [ ]:
cleaned_data = filtered_data.groupby(['City','Order Year','Product'])["Quantity"].sum().reset_index()
cleaned_data.info()
cleaned_data.head(10)

In [ ]:
cleaned_data.to_excel(r'tmp_subset_of_data.xlsx', index = False)

In [3]:
import os
if os.path.exists("tmp_subset_of_data.xlsx"):
    os.remove("tmp_subset_of_data.xlsx")