# Working with Data - Pandas

##### Import the required libraries

In [ ]:
import json
import openpyxl
import pandas

##### Read in sample data from an Excel file

In [ ]:
RAW_DATA = pandas.read_excel("sample_data.xlsb", sheet_name='Sheet1', header=0, engine='pyxlsb')

##### Print the first 10 rows

In [ ]:
RAW_DATA.head(10)

##### Print the column names

In [ ]:
RAW_DATA.info()

##### Select a subset of columns and filter to leave only the required cities

In [ ]:
STILL_RAW_DATA = RAW_DATA[['Customer ID','Customer Name','City','Order Year','Order Date','Order ID','Store ID','Product BU','Product Type','Product','Quantity','Item Cost','Total Cost']]

LIST_OF_CITIES_TO_KEEP = ['Vaughnmouth','North Margaretbury','Melanieland','Andreamouth','Aprilfort','South Heatherborough','West Crystal','Lake Andreabury','Buchanantown','Stephenmouth','Johnberg','East Maryberg','East Kellyview','Mcdanielstad','Francisburgh','Bensonborough','South Jason','North Jeffreyborough','Gonzalezmouth','Port Joshua','New Anthony','Lake Matthew','Carrilloborough','Cunninghambury','Williamshire','Jennifershire','Caseyland','Emilyland','Port Amberberg','Kathleenside','Lewisside','South Michaelland','North Sarahborough','Mariaburgh','West Amanda','Kathleenbury','Michaelshire','Archerview','Randolphtown','Grantfort','Port Lisa','South Scottville','East Edward','West Judithland','Port Gabriel','Grossview','Port Michaelside','Wardbury','North Brian','North Amy','Port Joseph','South Debrafort','Port Ericafort','Martinton','West Nicole','Lesliefurt','South Michaelville','East Ericport','Deanmouth','Port Jade','Lake Andrewmouth','Stephanieland','Zacharyshire','Sheilaville','Robinsonbury','Lake Chad','Lake Jessica','Lindsayfurt','Port Samantha','Port Michele','West Paul','Kimberlychester','Elizabethburgh','Jasonville','Webbhaven','Kristenchester','Taylorfort','Johnborough','West Sean','East Brian','South Connortown','Millermouth','Morenoside','Maryhaven','West Wesley','Martinfurt','Alvaradomouth','East Annton','Shepardhaven','Douglasmouth','Phillipland','Juliaside','East Holly','Carterport','New Lindsey','North Jacqueline','North Tyler','East Roger','Marshallfort','Pattersonmouth']

filtered_data = STILL_RAW_DATA.loc[STILL_RAW_DATA['City'].isin(LIST_OF_CITIES_TO_KEEP)]

##### Show the columns of the new dataframe

In [ ]:
filtered_data.info()

##### Print 10 rows

In [ ]:
filtered_data.head(10)

##### Group some of the columns and sum the quantities

In [ ]:
cleaned_data = filtered_data.groupby(['City','Order Year','Product'])["Quantity"].sum().reset_index()
cleaned_data.info()
cleaned_data.head(10)

##### Export the results to Excel

In [ ]:
cleaned_data.to_excel(r'tmp_subset_of_data.xlsx', index = False)

##### Cleanup by removing the Excel file

In [ ]:
import os
if os.path.exists("tmp_subset_of_data.xlsx"):
    os.remove("tmp_subset_of_data.xlsx")

##### Pandas and Nested JSON

In [31]:
import requests
import json
import pandas

from requests.packages.urllib3.exceptions import InsecureRequestWarning
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

headers = {"content-type": "application/json"}

payload={
  "ins_api":{
    "version": "1.0",
    "type": "cli_show",
    "chunk": "0",
    "sid": "1",
    "input": "show interface brief",
    "output_format": "json"
    }
}

url = "https://sbx-nxos-mgmt.cisco.com/ins"
response = requests.post(url, data=json.dumps(payload), headers=headers,auth=("admin","Admin_1234!"), verify=False).json()

interfaces = pandas.json_normalize(response["ins_api"]["outputs"]["output"]["body"]["TABLE_interface"]["ROW_interface"])

print(interfaces.info())
print(interfaces.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   interface        95 non-null     object
 1   state            84 non-null     object
 2   ip_addr          1 non-null      object
 3   speed            70 non-null     object
 4   mtu              2 non-null      float64
 5   vlan             69 non-null     object
 6   type             69 non-null     object
 7   portmode         69 non-null     object
 8   state_rsn_desc   69 non-null     object
 9   ratemode         69 non-null     object
 10  portchan         4 non-null      float64
 11  proto            4 non-null      object
 12  desc             5 non-null      object
 13  svi_admin_state  11 non-null     object
 14  svi_rsn_desc     10 non-null     object
 15  state_rsn        1 non-null      object
dtypes: float64(2), object(14)
memory usage: 12.0+ KB
None
     interface state      ip_addr speed     mtu vlan type portmode  \
0        mgmt0    up  10.10.20.95  1000  1500.0  NaN  NaN      NaN
1  Ethernet1/1  down          NaN  auto     NaN   --  eth   routed
2  Ethernet1/2    up          NaN  1000     NaN    1  eth    trunk
3  Ethernet1/3    up          NaN  1000     NaN    1  eth   access
4  Ethernet1/4    up          NaN  1000     NaN    1  eth   access
5  Ethernet1/5  down          NaN  auto     NaN   --  eth   routed
6  Ethernet1/6  down          NaN  auto     NaN    1  eth    trunk
7  Ethernet1/7  down          NaN  auto     NaN    1  eth   access
8  Ethernet1/8  down          NaN  auto     NaN    1  eth   access
9  Ethernet1/9  down          NaN  auto     NaN    1  eth   access

            state_rsn_desc ratemode  portchan proto desc svi_admin_state  \
0                      NaN      NaN       NaN   NaN  NaN             NaN
1  suspended(no LACP PDUs)        D    1000.0   NaN  NaN             NaN
2                     none        D      11.0   NaN  NaN             NaN
3                     none        D       NaN   NaN  NaN             NaN
4                     none        D       NaN   NaN  NaN             NaN
5    Administratively down        D       NaN   NaN  NaN             NaN
6       Link not connected        D       NaN   NaN  NaN             NaN
7       Link not connected        D       NaN   NaN  NaN             NaN
8       Link not connected        D       NaN   NaN  NaN             NaN
9       Link not connected        D       NaN   NaN  NaN             NaN

  svi_rsn_desc state_rsn
0          NaN       NaN
1          NaN       NaN
2          NaN       NaN
3          NaN       NaN
4          NaN       NaN
5          NaN       NaN
6          NaN       NaN
7          NaN       NaN
8          NaN       NaN
9          NaN       NaN

In [34]:
import requests
import json
import pandas

from requests.packages.urllib3.exceptions import InsecureRequestWarning
requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

headers = {"content-type": "application/json"}

payload={
  "ins_api":{
    "version": "1.0",
    "type": "cli_show",
    "chunk": "0",
    "sid": "1",
    "input": "show ip interface eth1/1",
    "output_format": "json"
    }
}

url = "https://sbx-nxos-mgmt.cisco.com/ins"
response = requests.post(url, data=json.dumps(payload), headers=headers,auth=("admin","Admin_1234!"), verify=False).json()

interface_eth_1_1 = pandas.json_normalize(response["ins_api"]["outputs"]["output"]["body"]["TABLE_intf"]["ROW_intf"])

print(interface_eth_1_1.info())
print(interface_eth_1_1.head(10))

# When using Jupyter you can also remove the print statement and just write the variable you wish to print
interface_eth_1_1.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   vrf-name-out  20 non-null     object
 1   intf-name     20 non-null     object
 2   proto-state   20 non-null     object
 3   link-state    20 non-null     object
 4   admin-state   20 non-null     object
 5   iod           20 non-null     int64
 6   prefix        20 non-null     object
 7   ip-disabled   20 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.4+ KB
None
  vrf-name-out intf-name proto-state link-state admin-state  iod  \
0      default   Vlan101        down       down        down    8
1      default   Vlan102        down       down        down    7
2      default   Vlan103        down       down        down    6
3      default   Vlan104        down       down        down    5
4      default   Vlan105        down       down        down    4
5      default   Vlan110          up         up          up    3
6      default   Vlan120        down       down          up   89
7      default       Lo1          up         up          up   15
8      default       Lo2          up         up          up   16
9      default      Lo10          up         up          up   17

         prefix ip-disabled
0  172.16.101.1       FALSE
1  172.16.102.1       FALSE
2  172.16.103.1       FALSE
3  172.16.104.1       FALSE
4  172.16.105.1       FALSE
5   192.168.0.1       FALSE
6     10.20.3.1       FALSE
7    172.16.0.1       FALSE
8       2.2.2.2       FALSE
9   10.10.10.10       FALSE

,vrf-name-out,intf-name,proto-state,link-state,admin-state,iod,prefix,ip-disabled
0,default,Vlan101,down,down,down,8,172.16.101.1,FALSE
1,default,Vlan102,down,down,down,7,172.16.102.1,FALSE
2,default,Vlan103,down,down,down,6,172.16.103.1,FALSE
3,default,Vlan104,down,down,down,5,172.16.104.1,FALSE
4,default,Vlan105,down,down,down,4,172.16.105.1,FALSE